*.pyc
.tox/
*~
*.sqlite*
*.orig
*.log
media/
collected-static/
venv/
build/
.elife-json
.coverage
.repop*
htmlcov/
app.cfg
/newrelic.ini
/uwsgi.ini
ingestion-lax.log.json
/src/core/prod_settings.py
aws-perms.sh
schema/api-raml/
article-xml
.scrapy-cache
dumps/
