[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
#astroid = "==1.6.5" # old pin
boto3 = "~=1.11"
django-admin-view-permission = "==1.9"
django-annoying = "~=0.10"
django-autoslug = "==1.9.6"
#django-db-logger = "==0.1.8rc1"
# lsh@2020-09: not semver, 2.3 drops support for Django 1.11
django-filter = "==2.2.*"
django-markdown2 = "~=0.3"
django-sql-explorer = "~=1.1"
django-tqdm = "==1.0.0"
djangorestframework = "==3.11.0"
et3 = "~=1.5"
# lsh@2020-07: pinned, isort==5.0.3 has changed it's api
isort = "~=4.3"
joblib = "~=0.14"
jsonschema = "~=3.2"
"kids.cache" = "==0.0.7"
netaddr = "~=0.7"
ordered-set = "~=3.1"
psycopg2 = "~=2.8"
python-dateutil = "~=2.8"
python-json-logger = "~=0.1"
python-slugify = "~=4.0"
pytz = "*"
requests = "~=2.22"
#requirements-detector = "==0.6" # ?
rfc3339 = "~=6.2"
# django doesn't use semver properly.
# minor releases may introduce breaking and backwards incompatible changes:
# https://docs.djangoproject.com/el/3.0/internals/release-process/
Django = "==2.1.*"
PyYAML = "~=5.3"
uWSGI = "~=2.0"

[dev-packages]
mock = "==3.0.5"
unittest-xml-reporting = "==2.5.2"
coverage = "~=5.0"
black = "==19.10b0"
# prospector = "==1.2.0" # ?
pyflakes = "~=2.1"
pylint = "~=1.9"
pylint-django = "~=0.11"
pytest = "~=5.3"
pytest-cov = "~=2.8"
pytest-django = "~=3.8"
xenon = "~=0.7"
